* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  background-color: #f7eed5;
}

.main {
  margin: 20px 75px;
}

/* HEADER */
.navBar {
  display: flex;
  gap: 10px;
  align-items: center;

  background-color: #fcbc47;
  padding: 10px 10px;
}

.navBar-logout {
  justify-content: flex-end;
}

/* DIVS */
.charts-div {
  display: flex;
  gap: 10px;
}

.form-style {
  border: 1px solid black;
  border-radius: 10px 10px;
  padding: 20px 20px;

  background-color: #fce7ac;
}

/* CHARTS */
.doughnut-chart {
  /*min-width: 0;*/
  flex-basis: 50%;
}
.bar-chart {
  /*min-width: 0;*/
  flex-basis: 50%;
}

.changeChartDiv {
  display: none;
}

/* FORMS */

.margins {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.registerForm {
  display: grid;

  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 400px;
  row-gap: 10px;

  align-content: center;
  justify-content: center;
}

.loginForm {
  display: grid;

  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 400px;
  row-gap: 10px;

  align-content: center;
  justify-content: center;
}

.form-submit-button {
  justify-self: end;
  padding: 5px 5px;
}

.form-row-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-form-row-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* BUTTONS */
.button {
  padding: 5px 5px;
}

/* TRANSACTIONS */

.transactions {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 10px;
}

.transactions-description {
  background-color: #face50;
  margin-bottom: 10px;
  font-weight: bolder;
}

.singleTransaction {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid black;
  border-radius: 10px 10px;
  padding: 20px 20px;
  background-color: #ffde80;
}

.singleTransaction-description-type {
  width: 175px;
}

.singleTransaction-type {
  font-size: small;
}

.singleTransaction-amount {
  width: 100px;
  text-align: center;
}

.singleTransaction-balance {
  width: 150px;
  text-align: center;
}

/* TESTING */
.transactionGroupDate {
  display: none;
}

.singleTransaction-mobile {
  display: none;
}

.singleTransaction-desktop {
  display: flex;
}

/* Mobile view */
@media (max-width: 768px) {
  /* TRANSACTIONS */
  .transactions {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .transactionGroupDate {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    border: 1px solid black;
    border-radius: 10px 10px;
    padding: 20px 20px;
    background-color: #face50;
  }

  .transactionGroupDate-hidden {
    display: none;
  }

  /*  Mobile view - detailed info */
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .singleTransaction-mobile {
    display: flex;
  }

  .singleTransaction-desktop {
    display: none;
  }

  .singleTransaction-description-type {
    display: none;
  }

  .singleTransaction-detailed {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .singleTransaction-amount {
    width: 50px;
    text-align: center;
  }

  .singleTransaction-balance {
    width: 75px;
    text-align: center;
  }

  .singleTransaction-detailed-hidden {
    display: none;
  }

  /* CHARTS */
  .charts-div {
    display: block;
    position: relative;
  }

  .changeChartDiv {
    display: block;
  }

  .chart-hidden {
    display: none;
  }

  .doughnut-chart {
    position: relative;
    height: 50vh;
    width: 75vw;
  }

  .bar-chart {
    margin: 20px 20px;
    position: relative;
    height: 50vh;
    width: 75vw;
  }

  .btnChangeChart {
    all: unset;
  }

  .anchor-prev-chart,
  .anchor-next-chart {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    font-weight: bold;
    font-size: 18px;

    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  .anchor-next-chart {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
}
